@mixin set-container {
    width: 90%;
    max-width: $max-width;
    margin: 0 auto;
}
@mixin set-h1 {
    font-family: $font-poppins;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 30px;
    color: $very-dark-cyan;
}
@mixin set-p {
    font-family: $font-open;
    text-align: center;
    font-size: 0.98rem;
    width: 60%;
    min-width: 290px;
    max-width: 650px;
    margin: 0 auto;
    margin-bottom: 30px;
    color: $very-dark-cyan;
}
@mixin set-button {
    display: block;
    text-align: center;
    width: 60%;
    max-width: 300px;
    margin: 0 auto;
    color: white;
    background-color: $pink;
    border-radius: 20px;
    margin-top: 50px;
    padding: 15px 0;
    font-family: $font-open;
    font-weight: 600;
    font-size: 1.05rem;
    transition: 0.5s;

    &:hover {
        border-color: $light-pink;
        transform: translateY(-3px);
        box-shadow: 0 5px 5px $grey-shadow;
        background-color: hsla(322, 100%, 66%, 0.666);
    }
}
