header {

    nav{
        display: flex;
        justify-content: space-between;
        align-items:center;
        @include set-container;
        max-width: 1700px;
        margin-bottom: 80px;
        height: 85px;
        img{
            width: 40%;
            max-width: 220px;
        }

        a {
            color: $pink;
            border: 1px solid $pink;
            border-radius: 20px;
            padding: 8px 25px;
            font-family: $font-open;
            transition: 0.5s ease;

            &:hover{
                color: $light-pink;
                border-color: $light-pink;
                box-shadow: 0 5px 5px $grey-shadow;
            }
        }
    }
}