nav{
    display: flex;
    justify-content: space-between;
    align-items:center;
    @include set-container;
    max-width: 1700px;
    margin-top: 20px;
    margin-bottom: 100px;


    img{
        width: 40%;
        max-width: 220px;
    }

    a {
        color: $pink;
        border: 1px solid $pink;
        border-radius: 20px;
        padding: 8px 25px;
        font-family: $font-open;
        transition: 0.5s;

        &:hover{
            color: $light-pink;
            border-color: $light-pink;
            transform: translateY(-3px);
            box-shadow: 0 5px 5px $grey-shadow;
        }
    }
}